body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    font-size: 80px;
    color: #6700c7;
    text-align: center;
    margin-left: auto; /* Centra horizontalmente */
}

.fondo-index {
    background-image: url(antiguo-fondo.webp);
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed;
    text-align: center;
  }

.Timer {
    display: inline-block;
    padding: 10px;
    border: 3px solid rgba(228, 0, 0, 0.925);
    font-size: 40px; /* Aumenta el tamaño del texto en párrafos */
    background: rgb(0, 0, 0);
    color: rgb(153, 0, 0);
    
}

#clave-secreta {
    font-size: 2em;
    font-weight: bold;
    background: #333;
    color: rgb(190, 0, 0);
    padding: 10px;
    display: inline-block;
    margin: 10px;
}

#entrada {
    font-size: 1.5em;
    text-align: center;
    width: 100px;
    margin: 10px;
}

#c3 {
    border: 3px solid rgba(19, 228, 0, 0.925);
    background: rgba(0, 0, 3, 0.85);
    font-family: bold;
    border-radius: 10px;
    padding: 15px;
    margin-top: 100px;
    width: 25%; /* Se ajusta al contenedor */
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto;
    text-align: center; /* Centra el texto dentro del div */
  }

button {
    font-size: 1.2em;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    
}

.num-btn {
    border: 3px solid rgba(19, 228, 0, 0.925);
    background: rgba(0, 0, 3, 0.75);
    color: white;
    
}

#borrar {
    border: 3px solid rgba(228, 0, 0, 0.925);
    background: #ff5722;
    color: white;
}

#verificar {
    border: 3px solid rgba(15, 0, 228, 0.925);
    background: #4cacaf;
    color: white;
}

#controles button {
    background: #2196f3;
    color: white;
}

@media screen and (max-width: 768px) {
    #c3 {
        width: 80%; /* Hace que ocupe más espacio en pantallas pequeñas */
        margin-top: 80px; /* Reduce la distancia desde arriba */
        padding: 10px; /* Reduce el padding en móviles */
    }
    h1 {
        font-size:30px;
    }
}
