* {
  box-sizing: border-box;
}

body {
  background-image: url(fondo.jpg);
  background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed;
  text-align: center;
}


.frase-audio {
  color: rgb(78, 0, 129);
  text-decoration: underline;
  cursor: pointer;
}

.marco {
  background-color: transparent;
  max-height: 2000px;
  border: 5px solid rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
  float: left;
  padding: 10px;
  min-height: 500px;
  border: 10px solid black; /* Mismo marco para todas las secciones */
  border-radius: 10px;
}
.il{
  padding-left: 15;
}
.izquierda {
  width: 25%;
}

.derecha {
  width: 75%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
  content: "";
  display: table;
  clear: both;
}

#c1 {
  text-align: left;
  background-color: transparent;
  border: 5px solid rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 15px;
  
}
 #c2 {
  text-align: left;
  background-color: transparent;
  border: 5px solid rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 15px;
  
}

/* Estilos para imágenes */
img {
  width: 100%;
  
  height: auto;
}

ulo {
  list-style-image: url('tarta.png'); /* Cambia los puntos por una imagen */
}

ule {
  list-style-image: url('gmail.png'); 
}

ulx {
  list-style-image: url('X.png');
}

.foto {
  padding: 0 6px;
  display: block;
  height: 50%;
}

.gif {
  padding: 5px;
  display: flex;
  height: 50%;
  
}

.separador {
  width: 100%;
  height: 3px;
  background-color: rgb(182, 230, 9);
  margin: 20px 0;
}


/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
@media screen and (max-width: 600px) {
  .columna {
      width: 100%;
  }

  .iresponsive {
      width: 100%;
  }
}

@font-face {
  font-family: 'MiFuente';
  src: url('Saiyan-Sans.ttf') format('truetype');
}

@font-face {
  font-family:'MiFuente2';
  src: url('helvetica-condensed-black.otf') format('truetype');
}

h1 {
  font-family: 'MiFuente', sans-serif;
  font-size: 60px;
    color: rgb(60, 255, 0);
    text-shadow: 1px 1px 1px black;
}

h2 {
  font-family: 'MiFuente2', sans-serif;
  font-size: 30px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px black;
}

