  body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  
  #background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;

  }
  
  .controls {
    margin-bottom: 20px;
    color: aliceblue; 
  }
  
  #board {
    display: grid;
    gap: 10px;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .card {
    width: 100%;
    aspect-ratio: 80 / 107;
    perspective: 1000px;
    max-width: 100px; /* Limita el tamaño en pantallas grandes */
  }
  
  
  .inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .card.flipped .inner {
    transform: rotateY(180deg);
  }
  
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .front {
    transform: rotateY(180deg);
  }
  
  .back {
    background-image: url('img/back.png');
    background-color: #ccc;
  }
  
  
  .info {
    margin-bottom: 20px;
    color: aliceblue; 
  }

  @media (max-width: 600px) {
    #board {
      max-width: 90vw;
      gap: 5px;
    }
  
    .card {
      max-width: none; /* Quita el límite para que crezcan */
    }
  }
  